* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.parall {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -2;
}





.text {
  padding: 20px 30px;
  font-size: 24px;
  border-radius: 25px;
  font-family: monospace;
  background-color: #00000055;
  color: white;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
}

.left {
  display: flex;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -2;
}

.background {
  transform: translateZ(-10px) scale(2);
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -2;
}

.background1 {
  transform: translateZ(-10px) scale(2);
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: fill;
  z-index: -2;
}

.sun1 {
  transform: translateZ(-5px) scale(1.5);
  position: relative;
  height: 50%;
  width: 50%;
  object-fit: none;
  z-index: -2;
}

.sun2 {
  transform: translateZ(-5px) scale(1);
  position: relative;
  height: 50%;
  width: 50%;
  object-fit: none;
  z-index: -2;
}

.mer1 {
  transform: translateZ(-5px) scale(1);
  position: relative;
  height: 50%;
  width: 50%;
  object-fit: none;
  z-index: -2;
}

.merc2 {
  transform: translateZ(-2px) scale(2);
  position: relative;
  height: 40%;
  width: 40%;
  object-fit: contain;
  z-index: -2;
  margin-bottom: 100px;
}


body{
    background: #000000;
}

h1{
    font-size: 120px;
    text-align: center;
    color:rgba(149, 149, 149, 0.751)
}

.parallax-inner{
    padding: 10% 0;
}

.parallax-1{
    background: url(./assets/space0.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-2{
    background: url(./assets/space1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-3{
    background: url(./assets/space2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h2{
    font-size: 32px;
    color:rgb(255, 255, 255);
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 20px 0 10px;
}

 .nisreen-text{
    font-size: 16px;
    color:rgb(255, 255, 255);
    text-align: justify;
    line-height: 30px;
    margin: 0 50px 40px;
}


.nisreen-text:nth-of-type(2),
.nisreen-text:nth-of-type(3){
    margin: 40px 50px;
}

/***** PlANETS STYLING ******/
.planet-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.planet{
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 3;
}

.planet-section img{
    width: 18rem;
    height: 18rem;
}

.left{
    flex: 1;
    text-align: left;
    margin-right: 6rem;
}

.right{
    flex:2;
    text-align: left;
    margin-left: 6rem;
}

.planet-name{
    margin: -1rem 4rem 2rem 0;
    font-size: 2.8rem;
}

.planet-section ul {
    list-style-image: url(./assets/star0.png);
}

.planet-section li {
    font-size: 1.5rem; 
    margin: 10px 0; 
    color: white;
}

.earth-rotate-animation {
    width: 100%;
    height: 100%;
    animation: rotate 50s linear infinite;
    transform-origin: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



p{
  font-size: 26px;
}

h1{
  font-size: 100px;
}
/* wrapper which will take the full height of the screen */

.parallax-wrapper{
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden ;
  perspective: 13px;
}

/* header containing 2 images (foreground and background) and a section (info) */

.parallax-header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background{
  height: 100%;
  /* height: 2500px; */
  width: 100%;
  filter: brightness(0.6);
  transform: translateZ(-5px) scale(1.5);
  /* z-index: 1; */
}

.foreground{
  height: 100%;
  width: 100%;
  max-width: 800px;
  bottom: -60px;
  right: 60px; 
  filter: brightness(1.1);
  transform: translateZ(-3px) scale(0.95);
  z-index: 1;
}

.background, 
.foreground{
  position: absolute;    
  object-fit: cover;
  /* z-index: -1; */
}

/* section inside header containing div (info-box), h1, and p */

.info{
  position: absolute;
  top: 70px;
  left: 60px;
}

.info-box{
  padding: 9px;
  max-width: 600px;
  background-image: linear-gradient(rgba(87, 61, 12, 0.459), rgba(49, 73, 109, 0.514) 100%);
  border-radius: 5px;
}

.info h1{
  color: rgba(230, 147, 23, 0.993);
  margin-bottom: 10px ;
}

.info p{
  color: rgb(228, 136, 16);
}

/* --- End of Jupiter's Section ---  */

/* -- Seperator--  */

.additional-info{
  margin: 100px auto -100px auto;
  height: 400px;   
  width: 100%;
}

.additional-info-box{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* height: 300px; */
 
 
  background-image: linear-gradient(rgba(87, 61, 12, 0.459), rgba(49, 73, 109, 0.514) 100%);
  word-spacing: 7px;
  color: white;
}
.additional-info-box p{
  padding: 5px 40px;
  margin: 30px;
  position: absolute;
  background-image: linear-gradient(rgba(87, 61, 12, 0.459), rgba(49, 73, 109, 0.514) 100%);

}

/* --- Start of Saturn's Section --- */


.saturn-section{
  perspective: 13px;
  height: 100%;
  width: 100%;
}

.foreground-saturn{
  position: absolute;
  top: -125px;
  left: -152px;
  width: 100%;
  max-width: 800px;
  object-fit: cover;
  transform: translateZ(-5px) scale(1.2);
  z-index: -1;
}

.saturn-section-info{
  position: absolute;
  right: 100px;
  border: 5px solid transparent;
  width: 95%;
  max-width: 600px;
  padding: 20px;
  background-image: linear-gradient(rgba(87, 61, 12, 0.459), rgba(49, 73, 109, 0.514) 100%);
  border-radius: 5px;
  color: white;
}
.saturn-section-info h1{
  color: white;
}


/* media queries */
@media (max-width: 1110px){
  p{font-size: 20px;}
  .info{bottom: -100px;}

}

@media (max-width: 860px){
  .info{
    left: 22px;
    bottom: 50px;
  }
  .info-box{
    height: 42%;

  }
  .foreground{
    height: 73%;
    width: 100%;
    top: 370px;
    right: -20px;
    transform: translateZ(-3px) scale(0.95);
  }
}

@media (max-width: 430px){
  .foreground{
    top: -120px;
    transform: translateZ(-3px) scale(0.95);
  }
  .info{
    bottom: 90px;
    height: 275px;
  }
}
