*{
  margin: 0;
  box-sizing: border-box;
}

/* wrappers which will take the full height of the screen */

.wrapper{
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden ;
  perspective: 10px;
}

/* header containing 2 images (foreground and background) and a section (info) */

header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background{
  height: 100%;
  width: 100%;
  filter: brightness(0.7);
  transform: translateZ(-5px) scale(1.5);
}

.foreground{
  height: 100%;
  width: 100%;
  max-width: 600px;
  top: -160px;
  right: -45px; 
  filter: brightness(1.1);
  transform: translateZ(-3px) scale(0.95);
}

.background, 
.foreground{
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

/* section inside header containing div (info-box), h1, and p */

.info{
  position: absolute;
  bottom: 40px;
  left: 130px;
}

.info-box{
  max-height: 230px;
  padding: 9px;
  max-width: 550px;
  border: 1px solid rgb(197, 197, 197);
  background-color: rgba(128, 128, 128, 0.541);
  border-radius: 5px;
}

.info h1{
  color: rgba(224, 169, 28, 0.829);
  margin-bottom: 10px ;
}

.info p{
  color: rgb(187, 111, 12);
}


@media (max-width: 710px){
  .info{
    left: 22px;
    max-width: 90%;
  }
  .info-box{
    height: 230px;
  }
  .foreground{
    height: 73%;
    width: 100%;
    top: -75px;
    right: -7px;
    transform: translateZ(-3px) scale(0.95);
  }
}

@media (max-width: 430px){
  .foreground{
    top: -120px;
    transform: translateZ(-3px) scale(0.95);
  }
  .info{
    bottom: 90px;
    height: 275px;
  }
}

/* --- End of Jupiter's Section --  */