*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: white;
}

body{
  background-color: black;
}

p{
  font-size: 26px;
}

h1{
  font-size: 100px;
}
/* wrapper which will take the full height of the screen */

.parallax-wrapper{
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden ;
  perspective: 13px;
}

/* header containing 2 images (foreground and background) and a section (info) */

.parallax-header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background{
  height: 1200px;
  width: 100%;
  filter: brightness(0.7);
  transform: translateZ(-5px) scale(1.5);
}

.foreground{
  height: 100%;
  width: 100%;
  max-width: 800px;
  top: -65px;
  right: -10px; 
  filter: brightness(1.1);
  transform: translateZ(-3px) scale(0.95);
}

.background, 
.foreground{
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

/* section inside header containing div (info-box), h1, and p */

.info{
  position: absolute;
  bottom: -40px;
  left: 120px;
  z-index: 1;
}

.info-box{
  padding: 9px;
  max-width: 600px;
  background-color: rgba(128, 128, 128, 0.212);
  border-radius: 5px;
}

.info h1{
  color: rgba(224, 169, 28, 0.829);
  margin-bottom: 10px ;
}

.info p{
  color: rgb(187, 111, 12);
}

/* --- End of Jupiter's Section ---  */

/* -- Seperator--  */

.empty-div{
  height: 100px;
}

.additional-info{
  margin: 150px auto -100px auto;
  height: 400px;   
  width: 100%;
}

.additional-info-box{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 300px;
  padding: 20px;
  background-image: linear-gradient(rgba(87, 61, 12, 0.459), rgba(49, 73, 109, 0.514) 100%);
  word-spacing: 7px;
}

/* --- Start of Saturn's Section --- */

.saturn-section{
  /* overflow-y: auto; */
  overflow-x: hidden ;
  perspective: 13px;
}

.background-saturn{
  height: 100%;
  width: 100%;
  filter: brightness(1.2);
  transform: translateZ(-6px) scale(1.5);
}

.foreground-saturn{
  position: absolute;
  top: 80px;
  left: -80px;
  height: 100%;
  width: 100%;
  max-height: 375px;
  max-width: 950px;
  filter: brightness(1.15);
  transform: translateZ(-2px) scale(0.95);
}

.background-saturn, 
.foreground-saturn{
  object-fit: cover;
  z-index: -1;
}

.saturn-section-info{
  position: absolute;
  bottom: -20px;
  left: 150px;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px;
  border: 3px solid transparent;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.151);
}


/* media queries */
@media (max-width: 1110px){
  p{font-size: 20px;}
  .info{bottom: -100px;}

}

@media (max-width: 860px){
  .info{
    left: 22px;
    bottom: 50px;
    max-width: 90%;
  }
  .info-box{
    height: 230px;
  }
  .foreground{
    height: 73%;
    width: 100%;
    top: -75px;
    right: -7px;
    transform: translateZ(-3px) scale(0.95);
  }
}

@media (max-width: 430px){
  .foreground{
    top: -120px;
    transform: translateZ(-3px) scale(0.95);
  }
  .info{
    bottom: 90px;
    height: 275px;
  }
}
