*{
    padding: 0;
    margin: 0;
    font-family: monospace;
}
body{
    background-color: black;
}

.wrapper{
    overflow-y: auto;

    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    perspective: 10px;

}

.container{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    z-index: -1;
}
.background{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
.background{
    transform: translateZ(-10px) scale(2);
}

.intro-title{
    font-weight: 700;
    font-size: 90px;
    text-shadow: 0 0 5px white;
    color: #fff;

}

.content-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
}
.content{
    background-color: #ffffff55;
    height: 50vh;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.604);
    border-radius: 25px;
    padding: 20px;

}
.content .title{
    font-size: 45px;
    color: #fff;
}
.planet-description{
    font-size: 20px;
    word-spacing: 10px;
    color: white;
}

